/*-------- CSS RESET -------- */

*{
   padding: 0;
   margin: 0;
   font-size: 100%;
   line-height: lem;
}

body {width: 75%;
    max-width: 786;
    font-family: Georgia, 'Times New Roman' serif;
    margin: auto;
    background: #f0f0f0;
    color: #333;
    line-height: 1.8em;}
    
    head {margin: 6em 3em. 60em, 0}
    
    header h2 {
        font-style: italic;
        font-size: 2.5em;
        color: #333,
    }
}

p{font-size: 6em;
  margin-bottom: 1.5em;
  line-height: 1.5;}

 
        
h1 {font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1.1em;
    color: #002663;
    text-align: center;
    text-shadow: 1px 1px 0px #f0f0f0, 3px 3px 0px rgba(0,0,0,0.5)
    }

h2 {font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1.1em;
    color: #002663;
    text-align: center}   

h3 {font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1.1em;
    color: #002663;
    text-align: left; }  

 header {margin:6em 0}

header h2 {
    font-style: italic;
    font-size: 2.25em;
    margin-top: .5em;
    color: #333;}



/*----------- LINKS ----------*/

a {
    color: #FFFFFF;
    text-decoration: none}


a:hover {
    color:#006321;
    border-bottom: 1px dotted;} 



/*----------- NAVIGATION -----------*/
nav {  
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 1em 0; 
font-size: 1.5em}

a{
    color: #093B83;
    text-decoration: none;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px; } 

 nav a:link {
    color: #093B83
}

nav a:visited {
   color:forestgreen   
}

nav a:hover {
    border-bottom: none;
    color: #fff
    } 



/*----------- IMAGES ----------*/

img{ 
   display: block;
   margin: 4em auto;
   padding: 0;
   max-width: 22em;
}
/* ------------------ TABLE ---------------- */

 table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    
}
caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    }
th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: forestgreen;}
th, td {
    padding: .6em;}
table, td {
   background: #999;    
   border: 1px solid #fff;
} 


/*---------- FOOTER ---------- */

footer {
    text-align: center;
    font-size: .75em;
    line-height: 1.5em;
    padding-bottom: 2em;
    }

footer




